{% extends 'base.html.twig' %}

{% block body %}

    <div class="jumbotron text-center">
        <h1>Exerçice incrémentation</h1>
        <p>Lucas Demarais</p>
    </div>
    <div class="container">

        <div class="card text-center">
            <div class="card-header">
                ID&AL GROUPE
            </div>
            <div class="card-body">
                <h1 class="card-title">{{ number.number }}</h1>
                <a href="#" class="btn btn-primary">Incrémenter</a>
            </div>
            <div class="card-footer text-muted">
                Lundi 17 Décembre
            </div>
        </div>

    </div>


{% endblock %}

{% block customJS %}
    <script>
        var urlIncrementApi = '{{ path('incrementApi') }}';
        $('a').on('click',function(event){
            event.preventDefault();
            $.ajax({
                url: urlIncrementApi,
                success: function(result){
                    $('.card-title').text(result.newValue);
                }
            })
        })
    </script>
{% endblock %}